html(lang = "en")
	head
		meta(charset='utf-8')
		link(href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/themes/prism.css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=EB+Garamond|Montserrat" rel="stylesheet")
		link(href="/style.css" rel="stylesheet")

body
	a(href="/") < back to syllabus
	div !{contents}
	script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js', charset='utf-8')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.js')
